DATABASE_URL="postgresql://postgres.ekoejeijkknnitfhvfky:jIcnit-2mufhy-hyvhuq@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:jIcnit-2mufhy-hyvhuq@db.ekoejeijkknnitfhvfky.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://ekoejeijkknnitfhvfky.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_XkMTTzu3tCXuo7ncadRrlw_Q6dXd3ir"